<footer>
  <nav class="navbar fixed-bottom navbar-dark" style="background-color: #6e6e6e; border-top: 5px solid #bcfd4c;">
    <div class="container">
      <h6 class="display-6 navbar-text" style="font-size: 14px;">&copy;Varun Rohit Mudunuri 2023 All rights reserved</h6>
    </div>
  </nav>
</footer>
