<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<main class="container-fluid text-center" style="background-color: #ffffff; background-image: url(./../../public/img/Rvv.jpeg); background-size: cover; background-position: center; height: 100vh; display: flex; flex-direction: column; justify-content: center; margin: 0;">
    <div class="jumbotron">
        
        <h1 style="margin-top: 0px; color: rgb(0, 0, 0); font-family: 'Arial', sans-serif; font-size: 36px; font-weight: 800;">❋❋❋────────────── <u>WELCOME</u> ──────────────❋❋❋</h1>
        <h2 style="margin-top: 20px; color: #000000; font-family: 'Arial', sans-serif; font-size: 24px;">Unlocking Digital Possibilities Collaboratively</h2>
        <p style="margin-top: 20px; font-size: 16px; font-family: 'Arial', sans-serif; color: #000000;">Welcome to Varun's Website, where we turn digital dreams into reality. We offer expert services in web development, software documentation, and mobile interface design. Our team's passion for innovation, customer-centric approach, and unwavering commitment to excellence ensure that we bring your unique ideas to life, providing exceptional digital experiences tailored to your needs. Join us on this journey, and let's create something remarkable together.</p>
        <h2 style="margin-top: 40px; color: rgb(0, 0, 0); font-family: 'Arial', sans-serif; font-size: 24px;">Discover Our Sections:</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 20px;">
            <a class="btn btn-primary btn-lg btn-custom" href="/about" style="margin-right: 10px; background-color: #bcfd4c; color: #6e6e6e; font-family: 'Arial', sans-serif;">&nbsp;About Me&nbsp;</a>
            <a class="btn btn-primary btn-lg btn-custom" href="/projects" style="margin-left: 12px; background-color: #bcfd4c; color: #6e6e6e; font-family: 'Arial', sans-serif;">Projects&nbsp;</a>
            </div>
            <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 10px;">
            <a class="btn btn-primary btn-lg btn-custom" href="/contact" style="margin-right: 20px; background-color: #bcfd4c; color: #6e6e6e; font-family: 'Arial', sans-serif;">Contact Us</a>
            <a class="btn btn-primary btn-lg btn-custom" href="/services" style="background-color: #bcfd4c; color: #6e6e6e; font-family: 'Arial', sans-serif;">Services</a>
        </div>
    </div>
</main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>
